.text-color-white {
  color: var(--color-white);
}

.text-bg-white {
  background: var(--color-white);
}

.text-color-primary {
  color: var(--nc-primary);
}

.text-bg-primary {
  background: var(--nc-primary);
}

.text-color-success {
  color: var(--nc-success);
}

.text-bg-success {
  background: var(--nc-success);
}

.text-color-error {
  color: var(--nc-error);
}

.text-bg-error {
  background: var(--nc-error);
}

.text-color-secondary {
  color: var(--nc-text-secondary);
}

.text-color-tertiary {
  color: var(--nc-text-tertiary);
}

.text-color-disabled {
  color: var(--nc-util-disabled);
}
