.text-color-white {
  color: var(--color-white);
}

.text-bg-white {
  background: var(--color-white);
}

.text-color-primary {
  color: var(--nc-primary);
}

.text-bg-primary {
  background: var(--nc-primary);
}
