.hub-item {
  .delete {
    &:hover {
      @media (min-width: 1024px) {
        color: #fff;
        background: rgb(74, 74, 74, 0.65);
      }
    }
    @media (max-width: 1023px) {
      color: #fff;
      background: rgb(74, 74, 74, 0.5);
    }
  }
  &:hover {
    .delete {
      display: flex;
    }
  }
}
