.ant-modal-confirm-success {
  .ant-modal-confirm-body > .anticon {
    color: var(--color-secondary);
  }
}

.ant-modal-root .ant-modal-centered .ant-modal {
  padding-top: var(--modal-content-gap-y);
  padding-bottom: var(--modal-content-gap-y);
}

.ant-modal {
  .ant-modal-content {
    padding: var(--modal-content-gap-y) var(--modal-content-gap-x);
  }
  &.content-scrollable {
    max-height: 100vh;
    overflow: hidden;
    &.content-scrollable-always-full {
      .ant-modal-content {
        height: calc(100vh - 2 * var(--modal-content-gap-y));
      }
    }
    .ant-modal-content {
      max-height: calc(100vh - 2 * var(--modal-content-gap-y));
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }
    .ant-modal-body {
      flex: 1;
      overflow: hidden auto;
    }
    &.split .ant-modal-body {
      display: flex;
    }
  }
  &.full-screen {
    width: calc(100vw - var(--modal-content-gap-x)) !important;
    .ant-modal-content {
      width: 100%;
    }
  }
}
.ReactModal__Overlay {
  z-index: 9999 !important;
  background-color: rgba(0, 0, 0, 0.8) !important;
}
.ReactModal__Content {
  position: relative !important;
  outline: 0 !important;
  border: 0 !important;
  border-radius: 0 !important;
  padding: 0 !important;
  inset: initial !important;
  background-color: transparent !important;
  z-index: 9999 !important;
}
.ReactModal__Content {
  display: flex;
  align-items: center;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
  min-height: calc(100% - 1rem);
  @media (min-width: 576px) {
    min-height: calc(100% - 3.5rem);
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
  }
  .modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    .close {
      padding: 1rem 1rem;
      margin: -1rem -1rem -1rem auto;
    }
  }
}
