body,
html {
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    文泉驛正黑,
    WenQuanYi Zen Hei,
    Hiragino Sans GB,
    儷黑 Pro,
    LiHei Pro,
    Heiti TC,
    微軟正黑體,
    Microsoft JhengHei UI,
    Microsoft JhengHei,
    sans-serif;
  line-height: 1.2;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: 0.875rem;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
}
